
/*GENERAL*/
h1, h2, h3, h4, h5, p, li {
    font-family: 'Helvetica';
    color: seashell;
}
p {
    font-size: 16px;
}
body {
    background-color: black;
}

/*HEADER*/
header {
    height: 4.3125rem;
    border-bottom: 1px solid seashell;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav img {
    margin: 0.625rem;
    height: 3.125rem;
}

nav ul {
    flex: inline-flex;
}

nav li {
    font-size: 22px;
    text-decoration: underline;
}

